@property --gap {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

img:not(.portfolio-item img) {
  --border: 15px;
  --gap: 12px;
  --color: #ffd000;

  width: 220px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));

  --angle: 90deg;
  background: radial-gradient(farthest-side, var(--color) 97%, #0000 101%)
      85.35% 85.35%,
    conic-gradient(
      from calc(180deg - var(--angle) / 2),
      #0000 var(--angle),
      var(--color) 0
    ),
    radial-gradient(farthest-side, var(--color) 97%, #0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border), auto;
  background-repeat: no-repeat;

  -webkit-mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  transition: --angle 0.4s, --gap 0.4s;
}

img:hover:not(.portfolio-item img) {
  --angle: 0deg;
  --gap: 5px;
}
/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5883ad;
  color: #ffffff;
}

header {
  background-color: #333;
  color: #ffd000;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
  text-align: center;
}

.nav-links li {
  margin-left: 20px;
  text-align: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4f4f4;
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url("https://via.placeholder.com/1500") no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  font-style: italic;
  font-weight: bold;
}

.btn:hover {
  background-color: #333;
  color: #ffd000;
}

/* About Section */
.about {
  padding: 60px 12px;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1100px;
  margin: 10px auto 0;
  text-align: left;
}

.about-content img {
  flex-shrink: 0;
  border-radius: 50%;
}

.about-content p {
  margin: 0;
}
.about h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}

/* Portfolio Section */
.portfolio {
  padding: 60px 20px;
  text-align: center;
}

.portfolio h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background-color: none;
  padding: 5px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-10px);
}

.portfolio-item img {
  max-width: 70%;
  max-height: 80%;
  border-radius: 10px;
  min-height: 80%;
}

.portfolio-item video {
  max-width: 70%;
  max-height: 80%;
  border-radius: 10px;
}
.portfolio-item h3 {
  margin-top: 15px;
  font-size: 24px;
}

/* Contact Section */

.contact {
  padding: 60px 20px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-list {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  place-content: center;
  padding: 0;
}

.contact-list li {
  margin: 0 10px;
  padding: 15px;
}

.contact-list a {
  text-decoration: none;
  font-style: italic;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  border-radius: 30px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.contact-list a:hover {
  color: #ffd000;
}
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 4.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: #33300000;
    backdrop-filter: blur(5px);
  }

  .about-content {
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
  }

  .about h2 {
    margin-bottom: 20px;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links.nav-active li {
    opacity: 1;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
